<head>
    <title>Contact Us</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>

<div class="fullContactUs">
    <h1 class="visitus">Visit Us</h1>
    <div class="linerr"></div>

    <div class="secondPara">
        <h4 class="headerColor">Managing Director :</h4>
        <span>Suran Bopitiya</span>
    </div>
    <div class="secondPara">
        <h4 class="headerColor">Directors :</h4>
        Amarathunga Athapaththu <br> Thaari Bopitiya
    </div>
    <div class="thirdPara">
        <h4 class="headerColor">Address : </h4>
        282/3 Pipe Road, <br>
        Koswatta, <br>
        Thalangama North, <br>
        Battaramulla, <br>
        Sri Lanka <br>
    </div>
    <div class="thirdPara">
        <h4 class="headerColor">Phone :</h4>
        (+94) 11 274 1912 <br> (+94) 77 725 5201 <br> (+94) 71 532 4109
    </div>
    <div class="thirdPara">
        <h4 class="headerColor">Email : </h4>creative.redpro@gmail.com
    </div>
    <div class="thirdPara">
        <h4 class="headerColor">Business Hours :
        </h4>
        <p>Monday - Friday: 9am to 6.30pm</p>
        <p>Saturday: 9am to 6.30pm</p>
        <p>Sunday: 9am to 6.30pm</p>
    </div>


    <div class="beforelastPara">
        <h4 class="headerColor">Comment : </h4>
    </div>

    <label>
        <textarea class="txtFieldCont"></textarea>
    </label>

    <div class="lastPara">
        <button type="button" class="btn-group-llgg">Send</button>
    </div>
</div>
