.main-sign-in {
    font-family: Poppins, serif;
}

.topic {
    width: 100%;
    text-align: center;
    font-size: 150%;
}

.username-text {
    width: 70%;
    height: 50px;
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 15%;
    border-color: #d60d39;
    outline: none;
    text-align: center;
}

.password-text {
    width: 70%;
    height: 50px;
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 15%;
    border-color: #d60d39;
    outline: none;
    text-align: center;
}

.remember-me {
    margin-top: 5%;
    align-items: center;
    margin-left: 35%
}

.check-box {
    display: inline-block;
    cursor: pointer
}

.remember-me-text {
    display: inline-block;
    margin-left: 5%
}

.sign-in-btn {
    border-radius: 20px;
    background-color: #d60d39;
    text-align: center;
    outline: none;
    color: white;
    width: 70%;
    height: 50px;
    margin-top: 5%;
    margin-left: 15%;
}

.forgot-password {
    margin-top: 5%;
    margin-left: 45%;
    position: absolute;
    margin-bottom: 6%;
}

.signup {
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 6%;
}

@media only screen and (max-width: 320px) {
    .forgot-password {
        margin-left: 30%;
        bottom: 0px;
        font-size: 12px;
    }

    .signup {
        margin-left: 34%;
        font-size: 12px;
    }

    .remember-me {
        margin-left: 25%;
    }
}

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.right-addon .glyphicon {
    right: 0px;
}

.right-addon input {
    padding-right: 30px;
}

.modal-one {
    border-radius: 20px;
}
