<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<footer class="footer-section " style="position: relative!important;z-index: 10">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">

                <div class="col-xl-3 col-md-3 mb-40">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href=""></a>
                        </div>
                        <div class="footer-text">
                            <div class="footer-widget-heading">
                                <h3>Why Choose Us</h3>
                            </div>
                            <p>Creative Red Production is a full service, award-winning professional video production
                                company that can
                                help guide a client from concept and script writing to shooting, editing and
                                distribution.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-md-2 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Quick Links</h3>
                        </div>
                        <ul>
                            <li><a routerLink="/imageSlider">Home</a></li>
                            <li><a>Services</a></li>
                            <li><a routerLink="/contactUs">Contact</a></li>
                            <li><a routerLink="/aboutUs">About us</a></li>
                            <li><a routerLink="/gallery">Gallery</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-3 col-md-2 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Our Services</h3>
                        </div>
                        <ul>
                            <li><a>Location Services</a></li>
                            <li><a>Model Bank</a></li>
                            <li><a>Camera & Lights</a></li>
                            <li><a>Services</a></li>
                            <li><a>Accomodation</a></li>
                            <li><a>Film & Television Crews</a></li>
                            <li><a>Photography Equpments</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-2 col-md-3 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Payment Methods</h3>
                        </div>
                        <div class="footer-social-icon">
                            <p><a href="https://www.paypal.com/lk/home"><i class="fab fa-paypal facebook-bg"></i></a>
                            </p>
                            <p><a href="https://stripe.com/"><i class="fab fa-cc-stripe bg-info"></i></a></p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-md-3 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Contact us</h3>
                        </div>
                        <ul>
                            <li><a>+94777255201</a></li>
                            <li><a>+94715324109</a></li>
                        </ul>
                        <div class="footer-social-icon">
                            <a href="https://www.facebook.com/VulcanDuo/"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="https://twitter.com/VulcanDuo"><i class="fab fa-twitter twitter-bg"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="copyright-text">
                    <p>#All Rights Reserved, Designed and Developed By <a href="https://drive.google.com/drive/u/5/folders/176-P6UYIhzD6cn_bTJ-yT-OR_e8SGbOR" target="_blank"> G24</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
