.fullGallery {
    font-family: Poppins, serif;
    background-color: white;
    text-align: center;
}

.image-window {
    display: none;
    position: fixed;
    z-index: 1111111111111111;
    width: 90vw;
    height: 90vh;
    margin-left: 5%;
    background-color: lightgray;
    margin-top: -130px;
}

.gallery {
    text-align: center;
}

.liner {
    width: 80%;
    height: 3px;
    margin-bottom: 70px;
    background-color: #d60d39;
    margin-left: 10%;
}

.imageSize {
    height: 80%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
    text-align: center;
}

.close-icon {
    position: absolute;
    right: 30px;
    margin-top: 10px;
    color: white;
}

.close-icon:hover {
    color: #C00C33;
}

.zoom-in-icon {
    position: absolute;
    right: 30px;
    bottom: 90px;
}

.zoom-out-icon {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.gallery-row {
    text-align: center;
}

.gallery-image {
    padding-bottom: 30px
}
