.main-forget-password {
    font-family: Poppins, serif;
}

.topic {
    width: 100%;
    text-align: center;
    font-size: 150%;
}

.email-text {
    width: 70%;
    height: 50px;
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 15%;
    border-color: #d60d39;
    outline: none;
    text-align: center;
}

.forget-password-btn {
    border-radius: 20px;
    background-color: #d60d39;
    text-align: center;
    outline: none;
    color: white;
    width: 70%;
    height: 50px;
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 10%;
}

.signup {
    margin-top: 5%;
    margin-left: 15%;
}

.modal-one {
    border-radius: 20px;
}
