<div [hidden]="isSignInModalClosed" class="modal-header">
    <button #closeModal type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div [hidden]="isSignInModalClosed" class="modal-body" style="">
    <div class="main-sign-in">
        <form #login="ngForm">
            <div>
                <h2 class="topic">Sign in</h2>
            </div>
            <div class="maindiv">
                <div>
                    <input #email name="email" type="text" placeholder="enter email address" style="text-align: center;"
                           class="form-control sign-in-input" id="email"
                           value="{{emailValue}}" required
                           (click)="emailClick()">
                    <div style="width: 100%; text-align: center">
                        <small *ngIf="wrongEmail" style="color: #d60d39;">invalid email</small>
                        <small *ngIf="emailInput" style="color: #d60d39;">enter email address</small>
                    </div>
                </div>
                <div>
                    <input #password name="password" type="password" placeholder="enter password"
                           class="form-control sign-in-input" id="sFirstName"
                           value="{{passwordValue}}" required
                           (click)="passwordClick()">
                    <div style="width: 100%; text-align: center">
                        <small *ngIf="wrongPassword" style="color: #d60d39;">invalid password(password
                            must be at least 8 characters and numbers)
                        </small>
                        <small *ngIf="passwordInput" style="color: #d60d39;">enter password</small>
                    </div>
                </div>
                <div class="remember-me-one">
                    <input (click)="setRemember($event)" checked type="checkbox" class="check-box" title="checkBox">
                    <span class="remember-me-text">remember me</span>
                </div>
                <div>
                    <input (click)="loginCustomer(email.value,password.value)" type="button" value="sign in"
                           class="btn sign-in-btn">
                </div>
            </div>
        </form>

        <div class="bar-bottom">
            <div class="forgot-password-one">
                <a href="" data-toggle="modal" data-dismiss="modal" data-target="#forgetModal">forgot password ?</a>
            </div>
            <div class="create-account-one">
                <a href="" data-toggle="modal" data-dismiss="modal" data-target="#signUpModal">create account</a>
            </div>
        </div>

    </div>
</div>
