<div style="margin: 1% 1%">
    <div class="row">
        <div class="col-4" style="text-align: left; font-weight: bold;">brand :</div>
        <div class="col-8" style="text-align: left">{{brand}}</div>
    </div>
    <div class="row" *ngIf="!outOfStock">
        <div class="col-4" style="text-align: left; font-weight: bold;">stock :</div>
        <div class="col-8" style="text-align: left">{{qtyOnHand}}</div>
    </div>
    <div class="row" *ngIf="outOfStock" style="color: #d60d39">
        <div class="col-4" style="text-align: left; font-weight: bold;">stock :</div>
        <div class="col-8" style="text-align: left; font-weight: bold;">out of stock</div>
    </div>
    <br>
    <div class="row" style="color: #d60d39; font-weight: bold;">
        <div class="col-4" style="text-align: left; font-weight: bold;">price :</div>
        <div class="col-8" style="text-align: left; text-decoration: line-through;">{{price | currency: 'LKR'}}</div>
    </div>
    <div class="row" style="color: #d60d39; font-weight: bold;">
        <div class="col-4" style="text-align: left; font-weight: bold;">discount :</div>
        <div class="col-8" style="text-align: left; ">{{discount}} %</div>
    </div>
    <div class="row" style="color: #d60d39; font-weight: bold">
        <div class="col-4" style="text-align: left; font-weight: bold;">sale price :</div>
        <div *ngIf="discount !== 0" class="col-8" style="text-align: left; ">LKR {{price - (price / discount) |
            number:'1.2-2'}}
        </div>
        <div *ngIf="discount === 0" class="col-8" style="text-align: left; ">LKR {{price | number:'1.2-2'}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12" style="text-align: left; font-weight: bold;">highlight :</div>
        <div class="col-12" style="text-align: left" [innerHTML]="highlights"></div>
    </div>
</div>
