<app-navigation-home></app-navigation-home>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!--<form action="">-->
<!--    <div style="padding: 10px">-->
<!--        <label for="cardno" style="margin-right: 10px" >Card Number</label>-->
<!--        <input type="text" id="cardno" name="one" [(ngModel)]="cardno">-->
<!--    </div>-->
<!--    <div style="padding: 10px">-->
<!--        <label for="year" style="margin-right: 10px" >Year</label>-->
<!--        <input type="text" id="year" name="one" [(ngModel)]="year">-->
<!--    </div>-->
<!--    <div style="padding: 10px">-->
<!--        <label for="month" style="margin-right: 10px" >Month</label>-->
<!--        <input type="text" id="month" name="one" [(ngModel)]="month">-->
<!--    </div>-->
<!--    <div style="padding: 10px">-->
<!--        <label for="cvs" style="margin-right: 10px" >CVS</label>-->
<!--        <input type="text" id="cvs" name="one" [(ngModel)]="cvs">-->
<!--    </div>-->

<!--    <button type="button" (click)="pay()">Pay</button>-->
<!--</form>-->
