.all {
    font-family: Poppins, serif;
}

#frmdata label {
    font-size: 14px;
}

#frmdata input {
    font-size: 14px;
    height: 35px;
    border-radius: 15px;
}

.imageDiv {
    width: 300px;
    height: 300px;
    text-align: center;
    margin: auto;
}

#datediv h6 {
    padding-right: 10px;
}

.image {
    text-align: center;
}

.itemPrice {
    height: 100px;
    width: 400px;
    color: red;
    text-align: center;
    font-weight: bolder;
    font-size: 23px;
    margin-top: 10px;
}

.itemDetail {
    margin-top: 10px;
    text-align: center;
    color: black;
    font-weight: normal;
    font-size: 15px;
}

.qtyText {
    color: black;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 30px;
    position: absolute;
}

.combobox {
    margin-left: 10px;
    width: 70px;
}

.setTheMarginBottom {
    margin-bottom: 20px;
}

.input-fields {
    margin-top: 15px;
}

.shipsText {
    color: black;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 40px;
}

.shippingText {
    color: black;
    font-size: 15px;
    font-weight: bolder;
}

.shippingDescription {
    font-size: 15px;
    margin-top: 20px;
}

.formDataSet1 {
    width: 50%;
    margin-top: 20px;
    position: absolute;
    font-size: 15px;
    margin-left: 450px;
}

.formDataSet2 {
    width: 50%;
    margin-top: 20px;
    font-size: 15px;
    position: relative;
}

.inputSet table {
    border-color: white !important;
}

.inputSet {
    margin-top: 12px;
    width: 250px;
    border-color: transparent;
    border-bottom-color: black;
    border-bottom-width: thin;
    outline: none;
}

.payMethodText {
    color: black;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 20px;
}

.payMethodDescription {
    font-size: 15px;
    position: relative;
}

.btn-group-lg {
    background-color: #d60d39;
    border: none;
    border-radius: 8px;
    color: white;
    text-align: center;
    width: 90px;
    height: 40px;
    margin-left: 20%;
    margin-bottom: 40px;
    margin-top: 50px;
}

.allSet1 {
    position: absolute;
    margin-top: 60px;
}

.allSet2 {
    position: relative;
    margin-left: 450px;
    margin-top: 30px;
}

.backBtn {
    background-color: #d60d39;
    width: 100px;
    border-radius: 20px;
    font-family: Poppins, serif;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.backBtn:hover {
    background-color: #373636;
    border-color: transparent;
}

.nextBtn {
    background-color: #d60d39;
    color: white;
    width: 200px;
    border-radius: 20px;
    font-family: Poppins, serif;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

.nextBtn:hover {
    background-color: #373636;
    border-color: transparent;
}

.shipping-detail-input {
    border-radius: 10px;
    outline: none;
}

.shipping-inputs {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 20px;
}

@media only screen and (max-width: 991px) {
    .shipping-table {
        display: inline-table;
    }
}

@media only screen and (max-width: 648px) {
    .shipping-table {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .tableWidth {
        display: inline-table;
    }
}

.button-set {
    text-align: center;
}

.country-combo-shipping {
    outline: none;
    height: 38px;
    border-radius: 10px;
}
