<head>
    <title>About Us</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>

<div class="fullAboutUs container">
    <div class="centering2"><h1>Why Choose Us?</h1></div>
    <div class="liner"></div>
    <div class="centering"><h5>Creative Red Production (Pvt) Ltd committed to the success of your production</h5></div>
    <div class="details2"><p>Creative Red Production (Pvt) Ltd is Sri Lanka’s best film post production facility in Sri
        Lanka. The company specialises in a wide variety of services including film and tele-drama production,
        commercial
        production, sound management, editing, film location services, event management, hiring of equipment for movie
        production and much more.</p></div>
    <div class="details">Creative Red Production (Pvt) Ltd handles all types of film and television
        productions,documentaries,event management, commercials, and music videos. We arrange for:

        Location Services,
        Location Permissions,
        Accommodation,
        Catering,
        Transportation,
        All kind of Camera and Light Equipment,
        Photography Equipment,
        Film and Television Crews,
        Model Bank,
        Event Management.

        Creative Red Production (Pvt) Ltd committed to the success of your production. We are strategically positioned
        in
        Colombo, Sri Lanka, to be able to offer a complete range of locations and production support throughout all of
        Asia
        for our clients. We have a highly experienced and versatile team who can handle every aspect of your production.
    </div>
</div>
