<div class="slider-top-border-1">
    <div class="slider-top-border-2"></div>
    <div class="price-range-selector-pane">
        <app-home-search-bar></app-home-search-bar>
    </div>
    <div class="search-pane">
        <div class="pricepp" style="width: 50%; margin-top: -5px; right: 100px; position: absolute">
            <app-price-range-slider class="price-range"></app-price-range-slider>
            <button class="applyButton" (click)="getItems()">Apply</button>
        </div>
    </div>
</div>
<div class="bottom-bar"></div>


