<head>
    <title>Profile</title>
</head>

<br>
<div class="container">
    <ngb-tabset>
        <ngb-tab title="my details">
            <ng-template ngbTabContent>
                <div class="detail-tab not-yet-one" style="margin: 15px!important;">
                    <br>
                    <form class="frmdata">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationDefault01">First name</label>
                                <input #first name="firstName" type="text" value="{{firstName}}" placeholder="firstname"
                                    class="form-control shipping-detail-input" id="validationDefault01" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationDefault02">Last name</label>
                                <input #last name="lastName" type="text" class="form-control shipping-detail-input"
                                    id="validationDefault02" required placeholder="lastname" value="{{lastName}}">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationDefault02">Username</label>
                                <input #user name="telephone" value="{{username}}" placeholder="username" type="text"
                                    class="form-control shipping-detail-input" id="validationDefaultUsername" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationDefault03">Email</label>
                                <input readonly name="addressOne" type="email"
                                    class="form-control shipping-detail-input" id="validationDefault03" required
                                    value="{{email}}" placeholder="email">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationDefault03">Password</label>
                                <input #pass name="addressOne" type="password"
                                    class="form-control shipping-detail-input" id="validationDefault04" required
                                    placeholder="enter your password to confirm">
                            </div>

                            <div class="col-md-4 mb-3 form-check" style="margin-left: 20px;">
                                <input type="checkbox" (click)="changeSubscribe()" class="form-check-input"
                                    [checked]="isSubscribed">
                                <label class="form-check-label" style="margin-top: 12px;">check updates via
                                    email</label>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="col-md-2 mb-2">
                                <button data-toggle="modal" data-target="#changePasswordmodel"
                                    class="btn btn-danger nextBtn" type="button">Change Password
                                </button>
                            </div>
                            <div class="col-md-2 mb-2">
                                <button (click)="updateCustomer(first.value,last.value,user.value,pass.value)"
                                    class="btn btn-danger nextBtn" type="button">Update
                                </button>
                            </div>
                        </div>
                    </form>
                    <br>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Orders">
            <ng-template ngbTabContent>
                <div class="detail-tab" style="margin: 15px!important; min-height: 300px!important;">
                    <table class="table table-striped table-responsive shipping-table tableWidth">
                        <thead>
                            <tr>
                                <th scope="col">Billing Id</th>
                                <th scope="col">Customer Order Id</th>
                                <th scope="col">Id</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Order Time</th>
                                <th scope="col">Shipping Address</th>
                                <th scope="col">Status</th>
                                <th scope="col">Tracking Id</th>
                            </tr>
                        </thead>
                        <!-- {{console.log(orderList)}} -->
                        <tbody>
                            <tr *ngFor="let order of orderList" class="cursor-style">
                                <td>{{order.billingid}}</td>
                                <td>{{order.customerOrderId}}</td>
                                <td>{{order.id}}</td>
                                <td>{{order.orderDate}}</td>
                                <td>{{order.orderTime}}</td>
                                <td>{{order.shippingAddress}}</td>
                                <td>{{order.status}}</td>
                                <td>{{order.trackingId}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Inbox">
            <ng-template ngbTabContent>
                <div *ngIf="!haveMessage" class="not-yet-one">
                    <div class="not-yet-text-one">
                        <img src="../../../assets/no_message.png" style="height: 150px;" alt="">
                        <h4>no any complaint messages</h4>
                    </div>
                </div>
                <div class="detail-tab" style="margin: 15px!important; min-height: 300px!important;"
                     *ngIf="haveMessage">
                    <br>
                    <div style="margin-bottom: 15px;font-size: 14px" class="col-md-12 col-xl-12 col-lg-12">
                        <table class="table table-striped table-responsive"
                               style="height: 50vh;cursor: pointer;margin-bottom: 7%">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Time</th>
                                <th>Message</th>
                                <th>Status</th>
                                <th>Complain Type</th>
                                <th>Order ID</th>
                                <th>Check</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let complain of complainsList; index as i">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{complain.date | date}} {{complain.time}}</td>
                                <td>{{complain.message | slice:0:25}} ...</td>
                                <td *ngIf="(complain.status === 'true')" style="font-weight: bold;color: #d60d39">
                                    seen
                                </td>
                                <td *ngIf="(complain.status === 'false')" style="font-weight: bold;color: #d60d39">
                                    sent
                                </td>
                                <td>{{complain.complain}}</td>
                                <td>{{complain.orderId}}</td>
                                <td>
                                    <button class="btn-group-lgh" type="button" data-toggle="modal"
                                            data-target="#complainModal"
                                            (click)="setComplain(complain)">View
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>

<div class="modal fade" id="complainModal" tabindex="-1" role="dialog" aria-labelledby="complainModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius: 20px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center">
                <div class="row complain-view">
                    <div class="col-4 complain-order-id">order id : {{complaint.orderId}}</div>
                    <div class="col-8 complain-type">complaint type : {{complaint.complain}}</div>
                    <div class="col-12 complain-body complainBackground">
                        <div class="row">
                            <div class="col-4 userName">{{username}}</div>
                            <div class="col-8 complainDate">{{complaint.date | date}} {{complaint.time}}</div>
                            <div class="col-12 complain-message">{{complaint.message}}</div>
                        </div>
                    </div>

                    <div class="col-12 complain-body" *ngIf="(reply.id !== 0)">
                        <div class="row">
                            <div class="col-4 adminName">admin</div>
                            <div class="col-8 complainDate">{{reply.replyDate | date}} {{reply.replyTime}}</div>
                            <div class="col-12 complain-message">{{reply.message}}</div>
                            <div class="col-12 reply">
                                <button class="btn replyBtn" (click)="writeReply()">reply</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 reply-body" *ngIf="(isReply)">
                        <div class="row">
                            <textarea class="reply-message" #replyMessage placeholder="enter reply message"></textarea>
                            <div class="col-12 reply">
                                <button class="btn replyBtn" (click)="sendReply(replyMessage.value)">send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="changePasswordmodel" tabindex="-1" role="dialog" aria-labelledby="changePasswordmodel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius: 20px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="">
                <div class="main-sign-in">
                    <form #login="ngForm">
                        <div>
                            <h2 class="topic">Change Password</h2>
                        </div>
                        <div>
                            <input #current type="password" name="currentPassword" required
                                placeholder="enter current password" class="username-text">
                        </div>
                        <div>
                            <input #new type="password" name="password" required placeholder="enter new password"
                                class="input-fields password-text">
                        </div>
                        <div>
                            <input #newTwo type="password" name="confPassword" required
                                placeholder="re-enter new password" class="input-fields password-text">
                        </div>
                        <div>
                            <input (click)="resetPassword(current.value,new.value,newTwo.value)" type="button"
                                value="change password" class="btn sign-in-btn">
                        </div>
                        <br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>