<div class="container" style="text-align: center">
    <div style="margin: 15px; color: #d60d39" *ngIf="haveOldFeedback">
        <h6>You have already give a feedback.you can update it.</h6>
    </div>
    <div class="feedback">feedback</div>
    <div class="row">
        <div class="col-6 topicText">
            <h6>item :</h6>
        </div>
        <div class="col-6 starDisplay">
            <ngb-rating class="star" [rate]="itemRate" [(rate)]="itemRate"></ngb-rating>
        </div>
        <div class="col-6 topicText">
            <h6>communication : </h6>
        </div>
        <div class="col-6 starDisplay">
            <ngb-rating class="star" [rate]="communicationRate" [(rate)]="communicationRate"></ngb-rating>
        </div>
        <div class="col-6 topicText">
            <h6>shipping time :</h6>
        </div>
        <div class="col-6 starDisplay">
            <ngb-rating class="star" [rate]="shippingTimeRate" [(rate)]="shippingTimeRate"></ngb-rating>
        </div>
        <div class="col-6 topicText">
            <h6>shipping handling :</h6>
        </div>
        <div class="col-6" style="text-align: left; display: inline-block;">
            <ngb-rating class="star" [rate]="shippingHandlingRate" [(rate)]="shippingHandlingRate"></ngb-rating>
        </div>
    </div>
    <textarea class="message" #message placeholder="enter your feedback here....">{{oldFeedBackMessage}}</textarea>
    <button class="btn submit-btn" (click)="saveFeedBack(message.value)">submit</button>
</div>
